<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-dialog
        header="Attendance"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '300px' }"
      >
        <form class="w-full flex flex-column" [formGroup]="attendanceForm">
          <p-dropdown
            formControlName="level"
            [style]="{ width: '100%' }"
            [options]="levels"
            optionValue="id"
            optionLabel="title"
            appendTo="body"
            placeholder="Attendance"
          ></p-dropdown>
          <button
            pButton
            pRipple
            label="Save"
            (click)="save()"
            class="mt-4"
            icon="pi pi-save"
          ></button>
        </form>
      </p-dialog>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
