<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <div class="mb-4"></div>
      <p-table
        #dt
        [value]="groups"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [columns]="cols"
        [loading]="loading"
        selectionMode="single"
        (onRowSelect)="onRowSelect($event)"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0" i18n>Groups</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                i18n-placeholder
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="title" i18n>
              Title <p-sortIcon field="title"></p-sortIcon>
            </th>
            <th pSortableColumn="start_date" i18n>
              Start date <p-sortIcon field="start_date"></p-sortIcon>
            </th>
            <th pSortableColumn="end_date" i18n>
              End date <p-sortIcon field="end_date"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
          <tr [pSelectableRow]="group">
            <td style="min-width: 10rem">
              {{ group.code || group.id }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ group.title }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ group.start_date }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ group.end_date }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
