<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      <div class="mb-4"></div>
      <p-table
        #dt
        [value]="groupHomes"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [columns]="cols"
        [loading]="loading"
        selectionMode="single"
        (onRowSelect)="onRowSelect($event)"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0" i18n>Homeworks</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                i18n-placeholder
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="course" i18n>
              Course <p-sortIcon field="course"></p-sortIcon>
            </th>
            <th pSortableColumn="topic" i18n>
              Topic <p-sortIcon field="topic"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-homework>
          <tr [pSelectableRow]="homework">
            <td style="min-width: 10rem">
              {{ homework.code || homework.id }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ homework.topic.course }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ homework.topic.title }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
