<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              i18n-label
              label="New"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNewCourseDialog()"
            ></button>
            <button
              pButton
              pRipple
              i18n-label
              label="Delete"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="openDeleteCoursesDialog()"
              [disabled]="!selectedCourses || !selectedCourses.length"
            ></button>
          </div>
        </ng-template>

        <!-- <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template> -->
      </p-toolbar>

      <p-table
        #dt
        [value]="courses"
        dataKey="id"
        [(selection)]="selectedCourses"
        selectionMode="multiple"
        [rowHover]="true"
        [rows]="10"
        [columns]="cols"
        [loading]="loading"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Manage courses</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                i18n-placeholder
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="title" i18n>
              Title <p-sortIcon field="title"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
          <tr>
            <td>
              <p-tableCheckbox [value]="course"></p-tableCheckbox>
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ course.code || course.id }}
            </td>
            <td style="width: 33%; min-width: 10rem">
              {{ course.title }}
            </td>
            <td>
              <div class="flex justify-content-end">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="openEditCourseDialog(course)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="openDeleteCourseDialog(course)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        [totalRecords]="totalRecords"
        [rows]="10"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>

    <!-- * Create element dialog -->
    <p-dialog
      [(visible)]="newCourseDialog"
      [style]="{ width: '450px', margin: '0 10px' }"
      header="New course"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <form [formGroup]="newCourseForm" (submit)="createNewCourse()">
          <div class="field">
            <label for="title" i18n>Title</label>
            <input type="text" pInputText id="title" formControlName="title" />
          </div>
          <div class="field">
            <label for="descriptions" i18n>Descriptions</label>
            <textarea
              id="descriptions"
              pInputTextarea
              formControlName="descriptions"
              rows="3"
              cols="20"
            ></textarea>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideNewCourseDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="createNewCourse()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- *  Edit element dialog -->
    <p-dialog
      [(visible)]="editCourseDialog"
      [style]="{ width: '450px', margin: '0 10px' }"
      header="Edit Course"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <form [formGroup]="editCourseForm">
          <div class="field">
            <label for="name">Title</label>
            <input type="text" pInputText id="name" formControlName="title" />
          </div>
          <div class="field">
            <label for="description">Description</label>
            <textarea
              id="description"
              pInputTextarea
              formControlName="descriptions"
              rows="3"
              cols="20"
            ></textarea>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideEditCourseDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="updateCourse()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- * Delete element dialog -->
    <p-dialog
      [(visible)]="deleteCourseDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px', margin: '0 10px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="selectedCourse"
          >Are you sure you want to delete <b>{{ selectedCourse.title }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="hideDeleteCourseDialog()"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="deleteCourse()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- * Delete selected elements dialog   -->
    <p-dialog
      [(visible)]="deleteCoursesDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px', margin: '0 10px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="hideDeleteCoursesDialog()"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          [loading]="selectedCourses.length === 0"
          (click)="deleteCourses()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
