<div class="grid">
  <div class="col-12">
    <div class="card p-6">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button
            [text]="true"
            severity="secondary"
            icon="pi pi-arrow-left"
            class="mr-2"
          ></p-button>
        </div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
          <p-button icon="pi pi-save" class="mr-2"></p-button>
        </div>
      </p-toolbar>
      <p-splitter [panelSizes]="[25, 75]">
        <ng-template pTemplate>
          <p-tree
            class="w-full"
            [value]="treeValue"
            selectionMode="single"
            (onNodeExpand)="getNodeItems($event)"
            (onNodeSelect)="selectNode($event)"
          ></p-tree>
        </ng-template>
        <ng-template pTemplate>
          <pre style="margin: -19px 0 0 0; width: 100%">
            <code contenteditable="true" class="border-1 surface-border border-round h-full" [highlight]="text" [languages]="['json', 'ts', 'html', 'css']"></code>
          </pre>
        </ng-template>
      </p-splitter>
    </div>
  </div>
</div>
